@import 'mixin';
.hero{
  background: url("../img/hero_section.png") center center no-repeat;
  background-size: cover;
  .containerHero{
    .titleHero{
      padding: 250px 0 15px 0;
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 48px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    .descriptionHero{
      padding: 15px 0 50px 0;
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 22px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 5px;
    }
      .inputForm{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: #ffffff;
        .formInputHero{
          width: 100%;
          height: 60px;
          border: none;
          text-align: center;
          color: #999999;
          font-family: "Josefin Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 60px;
          letter-spacing: 2.8px;
          &::placeholder{
            color: #999999;
            text-align: center;
            font-family: "Josefin Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: 2.8px;
            @include mob_xs{
              font-size: 10px;
            }
          }
          &:active, &:focus {
            color: #999999;
            font-family: "Josefin Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 2.8px;
            border: 2px solid #5474fd;
          }
        }
        .formButtonHero{
          width: 25%;
          height: 56px;
          background-color: #5474fd;
          border: 2px solid #ffffff;
          color: #ffffff;
          font-family: 'Aleo';
          font-size: 14px;
          font-weight: 400;
          line-height: 52px;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          span{
            padding-right: 5px;
            @include mobile_horizon{
              padding-right: 0;
            }
            @include mobile{
              padding-right: 0;
            }
            @include mobile_xs{
              font-size: 10px;
            }
          }
          .search{
            @include mobile_horizon{
              display: none;
            }
            @include mobile{
              display: none;
            }
          }
        }
      }
    .textScrollDownHero{
      padding: 120px 0 0 0;
      .textLinkScrollDownHero{
        text-decoration: none;
        color: #ffffff;
        font-family: "Josefin Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 2px;
      }
    }
    .iconScrollDownHero{
      padding-bottom: 135px;
      .iconLinkScrollDownHero{
        text-decoration: none;
        padding-bottom: 135px;
      }
    }
  }
}
.headerTravel{
  position: sticky;
  top: 0;
  z-index: 5;
  .navigation{
    background-color: #5474fd;
    .logoNavigation{
      padding: 25px 0 25px 0;
      @include mobile{
        display: none;
      }
      @include mobile_horizon{
        display: none;
      }
      .linkLogoNavigation{
        text-decoration: none;
        color: #ffffff;
        font-family: "Josefin Sans";
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
      }
    }
    .menuNavigation{
      padding: 25px 0 25px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      @include mobile{
        display: none;
      }
      @include mobile_horizon{
        display: none;
      }
      .elementMenuNavigation{
        .linkElementMenu{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Aleo';
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        }
      }
    }
    .top_nav {
      display: none;
      @include mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      @include mobile_horizon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .overlay {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        .close_button {
          position: absolute;
          text-decoration: none;
          color: #5474fd;
          top: 20px;
          right: 45px;
          font-size: 30px;
        }
        .overlay-content {
          position: relative;
          top: 15%;
          width: 100%;
          text-align: center;
          a {
            padding: 8px;
            text-decoration: none;
            font-family: 'Raleway';
            font-size: 36px;
            color: #5474fd;
            display: block;
            transition: 0.3s;
            &:hover, &:focus{
              color: #555555;
            }
          }
        }
      }
      .logo_mobile{
        padding: 20px 0 20px 0;
        .linkLogoNavigation{
          text-decoration: none;
          color: #ffffff;
          font-family: "Josefin Sans";
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: 2.4px;
        }
      }
      .button_menu{
        .fas{
          font-size: 25px;
          color: #ffffff;
        }
      }
    }
  }
}
.mainTravel{
  .whyChooseUs {
    background: url("../img/whychooseus_section.png") center center no-repeat;
    background-size: cover;
    .container {
      .textWhyChooseUs{
        padding: 200px 15px 130px 0;
        @include mobile{
          padding: 100px 0 65px 0;
          text-align: center;
        }
        @include mobile_horizon{
          padding: 100px 0 65px 0;
          text-align: center;
        }
        .titleWhyChooseUs {
          color: #ffffff;
          font-family: 'Aleo';
          font-size: 36px;
          font-weight: 400;
          line-height: 26px;
          padding: 0 0 60px 0;
        }

        .descriptionWhyChooseUs {
          color: #e8e8e8;
          font-family: "Josefin Sans";
          font-size: 16px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: 1.6px;
          padding-bottom: 20px;

          .textDescription {
            padding-bottom: 30px;
          }
        }
        .positionButtonWhyChooseUs{
          @include mobile{
             display: flex;
             justify-content: center;
           }
          @include mobile_horizon{
            display: flex;
            justify-content: center;
          }
          .buttonWhyChooseUs {
            width: 225px;
            height: 60px;
            background: url("../img/button-background.png") center center no-repeat;
            background-size: cover;
            text-align: center;
            @include mobile_xs{
              height: 45px;
            }

            .linkButtonWhyChooseUs {
              text-decoration: none;
              color: #ffffff;
              font-family: 'Aleo';
              font-size: 16px;
              font-weight: 400;
              line-height: 60px;
              text-transform: uppercase;
              letter-spacing: 1.2px;
              @include mobile_xs{
                font-size: 11px;
                line-height: 45px;
              }
            }
          }
        }
      }
      .galleryWhyChooseUs {
        padding: 120px 0 120px 0;
        @include mobile{
          padding: 60px 0 60px 0;
        }
        @include mobile_horizon{
          padding: 60px 0 60px 0;
        }
        .imageGalleryWhyChooseUsFirst {
          background: url("../img/whychooseus_img_1.png") center center no-repeat;
          background-size: cover;
          padding: 110px 0 110px 0;
        }

        .imageGalleryWhyChooseUsSecond {
          background: url("../img/whychooseus_img_2.png") center center no-repeat;
          background-size: cover;
          padding: 110px 0 110px 0;
          margin-top: 10px;
        }
      }
    }
  }
  .whatWeDo{
    background-color: #333333;
    @include mobile_horizon{
      padding: 15px 0 40px 0;
    }
    @include mobile{
      padding: 15px 0 40px 0;
    }
    .containerWhatWeDo{
      .allBlock{
        height: 335px;
        position: relative;
        @include tablet{
          height: 275px;
        }
        @include mobile_horizon{
          height: auto;
        }
        @include mobile{
          height: auto;
        }
        .border_dugi_1{
          width: 30%;
          height: 50%;
          position: absolute;
          left: 18%;
          top: 60px;
          border-top: 2px dotted #ffffff;
          border-radius: 50%;
          opacity: 0.5;
          z-index: 0;
          @include mobile_horizon{
            display: none;
          }
          @include mobile{
            display: none;
          }
        }
        .border_dugi_2{
          width: 30%;
          height: 50%;
          position: absolute;
          right: 18%;
          top: 60px;
          border-top: 2px dotted #ffffff;
          border-radius: 50%;
          opacity: 0.5;
          z-index: 0;
          @include mobile_horizon{
            display: none;
          }
          @include mobile{
            display: none;
          }
        }
        .backgroundIcon{
          height: 100px;
          width: 100px;
          background-color: #333333;
          border-radius: 50%;
          z-index: 1;
          .iconWhatWeDo{
            fill: #5474fd;;
            &:hover{
              fill: #ff6363;
            }
          }
        }
        .textWhatWeDo{
          padding-top: 15px;
          color: #e8e8e8;
          font-family: 'Aleo';
          font-size: 36px;
          font-weight: 400;
          line-height: 26px;
          z-index: 1;
          @include tablet{
             font-size: 30px;
           }
          @include mobile_horizon{
            font-size: 30px;
          }
          @include mobile{
            font-size: 30px;
          }
        }
      }
    }
  }
  .informationBlockOne{
    background: url("../img/spain_1_section.png") center center no-repeat;
    background-size: cover;
    .containerInformationBlockOne{
      padding: 230px 0 100px 0;
      .blockInformationOne{
        background-color: #232323;
        opacity: 0.9;
        padding: 0 30px 0 30px;
        @include mobile{
          text-align: center;
        }
        @include mobile_horizon{
          text-align: center;
        }
        .titleBlockInformationOne{
          padding: 50px 0 30px 0;
          color: #e8e8e8;
          font-family: "Josefin Sans";
          font-size: 20px;
          font-weight: 300;
          line-height: 26px;
        }
        .titleTwoBlockInformationOne{
          color: #ffffff;
          font-family: "Josefin Sans";
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
        }
        .descriptionBlockInformationOne{
          color: #e8e8e8;
          font-family: "Josefin Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          padding: 30px 0 50px 0;
        }
        .positionButtonBlockInformationOne{
          @include mobile{
            display: flex;
            justify-content: center;
          }
          @include mobile_horizon{
            display: flex;
            justify-content: center;
          }
          .buttonBlockInformationOne{
            width: 225px;
            height: 60px;
            background: url("../img/button-background.png") center center no-repeat;
            background-size: cover;
            text-align: center;
            margin-bottom: 50px;
            @include mobile_xs{
              height: 45px;
            }
            .link{
              text-decoration: none;
              color: #ffffff;
              font-family: 'Aleo';
              font-size: 16px;
              font-weight: 400;
              line-height: 60px;
              text-transform: uppercase;
              @include mobile_xs {
                font-size: 11px;
                line-height: 45px;
              }
            }
          }
        }
      }
    }
  }
  .informationBlockTwo{
    background: url("../img/spain_2_section.png") center center no-repeat;
    background-size: cover;
    .containerInformationBlockTwo{
      padding: 230px 0 100px 0;
      .blockInformationTwo {
        background-color: #232323;
        opacity: 0.9;
        padding: 0 30px 0 30px;
        @include mobile{
          text-align: center;
        }
        @include mobile_horizon{
          text-align: center;
        }
        .titleBlockInformationTwo {
          padding: 50px 0 30px 0;
          color: #e8e8e8;
          font-family: "Josefin Sans";
          font-size: 20px;
          font-weight: 300;
          line-height: 26px;
        }

        .titleTwoBlockInformationTwo {
          color: #ffffff;
          font-family: "Josefin Sans";
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          text-transform: uppercase;
        }

        .descriptionBlockInformationTwo {
          color: #e8e8e8;
          font-family: "Josefin Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          padding: 30px 0 50px 0;
        }

        .positionButtonBlockInformationTwo {
          @include mobile {
            display: flex;
            justify-content: center;
          }
          @include mobile_horizon {
            display: flex;
            justify-content: center;
          }

          .buttonBlockInformationTwo {
            width: 225px;
            height: 60px;
            background: url("../img/button-background.png") center center no-repeat;
            background-size: cover;
            text-align: center;
            margin-bottom: 50px;
            @include mobile_xs {
              height: 45px;
            }

            .link {
              text-decoration: none;
              color: #ffffff;
              font-family: 'Aleo';
              font-size: 16px;
              font-weight: 400;
              line-height: 60px;
              text-transform: uppercase;
              @include mobile_xs {
                font-size: 11px;
                line-height: 45px;
              }
            }
          }
        }
      }
    }
  }
  .whatOurTouristSay{
    background: url("../img/whatourtouristsay_section.png") center center no-repeat;
    background-size: cover;
    .containerWhatOurTouristSay{
      padding-top: 60px;
      padding-bottom: 200px;
      @include mobile_horizon{
        padding-top: 0;
        padding-bottom: 100px;
      }
      @include mobile{
        padding-top: 0;
        padding-bottom: 100px;
      }
      .titleWhatOurTouristSay{
        color: #ffffff;
        font-family: 'Aleo';
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        padding: 60px 0 95px 0;
      }
      .commentWhatOurTouristSay{
        .imageWhatOurTouristSay{
          background: url("../img/sam_sumon.png") center center no-repeat;
          background-size: cover;
          padding: 142px 0 142px 0;
        }
        .textCommentWhatOurTouristSay{
          padding-left: 60px;
          padding-right: 60px;
          background-color: #333333;
          .nameUser{
            color: #fefefe;
            font-family: "Josefin Sans";
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-transform: uppercase;
            padding: 50px 0 30px 0;
          }
          .comment{
            color: #e8e8e8;
            font-family: "Josefin Sans";
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            text-align: justify;
            padding-bottom: 50px;
            .fas{
              color: #5474fd;
              font-size: 20px;
              vertical-align: super;
            }
          }
        }
      }
    }
  }
}
.footerTravel{
  background-color: #232323;
  .containerContactUs{
    padding-top: 60px;
    padding-bottom: 25px;
    @include mobile_horizon{
      padding-top: 0;
      padding-bottom: 0;
    }
    @include mobile{
      padding-top: 0;
      padding-bottom: 0;
    }
    .titleContactUs{
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 3.36px;
      padding: 60px 0 15px 0;
    }
    .descriptionContactUs{
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 1.6px;
    }
    .socialLinkContactUs{
      padding: 30px 0 25px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .socialLink{
        color: #ffffff;
        font-size: 20px;
        &:hover{
          color: #5474fd;
        }
      }
    }
  }
}